/* Home Page
---------------------------------------- */
.title_area {
	height:700px;
	height: 82vh;
	width: 100%;
	background-size: cover;
	background-position: top left;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	div.title {
		flex:1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0 auto;
	 	text-align: center;

	 	h1 {
	 		font-size: 8em;
	 		text-shadow: 0px 2px 9px black;
	 		margin: 0 auto;
	 		color:$primary;
	 		text-transform: uppercase;
	 	}

	 	h2 {
	 		background: rgba(10, 10, 10, 0.8);
	 		padding:15px;
	 		width:80%;
			font-size: 2.5em;
			color:$secondary;
			border-radius:10px;
		}
	}
}

.wrap.container {
	padding:0;
	margin:0;
	width:100%;
}

.cta_block {
	border-top:5px solid $primary;
	background-color: $darkgrey - 30;
	background-image: url(./../img/my-little-plaid-dark.png);
	padding:30px 15px;

	h3 {
		text-align: left;
		color:$secondary;
	}

	.sidebar_wrapper {
		display:flex;
		flex-flow:row wrap;
		align-items:center;
		justify-content: center;

		.cta-sidebar {
			flex-grow: 1;
			max-width: 400px;
			margin: 15px;
		}
	}
	
	.sendpress-signup {

		input {
			width:100%;
		}

		input.sp_email {
			width:69%;
		}
		input#submit {
			width:29%;
		}
	}


	.btn-facebook {
		padding:0;
		background:$facebook;
		h3 {
			color:#eee;
			text-align: center;
		}
	}

	.btn-facebook:hover {
		background:$facebook - 20;
	}

	div.sendpress {
		max-width: 400px;
		margin: 0 auto;
	}
}
.sendpress-signup {
		p {
			display: inline;
		}

		input {
			color:$darkgrey;
			padding:5px;
			border:none;
			width:100%;
			font-size: 14px;
			display: inline;
			border-radius:5px;
		}

		input.sp_email {
			width: 49%;
			border: 1px solid $secondary;
		}
		input#submit {
			width:29%;
		}

		img {
			display: none;
		}
		#form-wrap {
		p {
			display:inline;
		}
	}
}



//-- Home page section header
.headline_wrapper {
	border-top:5px solid $secondary;
	color:$darkgrey;
	padding:45px 15px 50px 15px;
	//color:#fff;
	background: #aacdf7;
	text-align: center;
	.headline {
		padding-top:10px;
		margin:0;
		line-height: 100%;
	}
}
.section {
	.container {
		position: relative;
		padding:4% 30px;

		h3 {
			text-align: center;
		}
	}

	a.anchor {
		position:absolute;
		top:-248px;
	}
	.section_body {
		h3 {
			text-align: center;
		}
	}
	.section_image {
		overflow: hidden;
		max-height: 400px;
	}

	.map {
		padding-top:30px;
	}

	.section_2_body_2 { /* The "What's going on this week" section */
		position: relative;
		color:#eee;
		background-color: $darkgrey - 30;
		background-image: url(./../img/my-little-plaid-dark.png);

		.thisweek {
			top:-40px;
		}

		div {
	 		.headline {
	 			border-bottom:5px solid $primary;
				padding: 25px 15px 15px 15px;
				margin:0;
				margin-bottom: 15px;
				background:$darkgrey;
	 		}
	 		p {
	 			display: inline;
	 		}
		}
	
	}
}

// .fbalbum {
// 	overflow: scroll;
// 	display: flex;
// 	flex-flow: row nowrap;

// 	.item {
// 		flex-grow: 1;
// 		float:none;
// 		min-width: 200px;

// 		div.image {
// 			width: 100%;
// 			height: 200px;
// 			box-shadow: 0px 0px;
// 		}
// 	}
// }


/* Media Queries
---------------------------------------- */
@media (max-width:850px) {
	.title_area {
		height: 500px;
		div.title {
			h1 {
				font-size: 5em;
			}
			h2 {
				font-size: 1.5em;
			}
		}
	}
}

@media (max-width:500px) {
	.title_area {
		div.title {
			h1 {
				font-size: 3.5em;
			}
		}
	}
}